/*
Scrimba M4 Solo Project: Oldagram 
    Author: Cassie Lewis
    https://clewisdev.com
    Date: March 2023
*/

/*
COOLORS color palette link
https://coolors.co
*/

/****** VARIABLES ******/

:root {
    
    /*COLORS*/
    --background-color: rgb(255, 255, 255);
    --text-color: rgb(20, 20, 20);
  
    
    /*BORDER RADIUS*/
    --br-soft: 1rem;
    --br-round: 50%;
    
    /*FONT SIZES*/
    --fs-s: .8125rem
}

/****** MARGIN AND PADDING RESET ******/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/******* GLOBAL STYLES *******/

body {
    font-family: 'Source Sans Pro', sans-serif;
}

/*? lAYOUT - FLEXBOX