/*
Scrimba M4 Solo Project: Oldagram 
    Author: Cassie Lewis
    https://clewisdev.com
    Date: March 2023
*/

/*
COOLORS color palette link
https://coolors.co
*/

/****** VARIABLES ******/

:root {
    
    /*COLORS*/
    --background-color: rgb(255, 255, 255);
    --text-color: rgb(20, 20, 20);
  
    
    /*BORDER RADIUS*/
    --br-soft: 1rem;
    --br-round: 50%;
    
    /*FONT SIZES*/
    --fs-s: .8125rem
}

/****** MARGIN AND PADDING RESET ******/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/******* GLOBAL STYLES *******/

body {
    background-color: rgb(211, 211, 211);
    font-family: 'Source Sans Pro', sans-serif;
    font-size: var(--fs-s);
    margin-top: 2rem;

    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: var(--fs-s);
}


/****** UTILITY CLASSES ******/

.margin-bottom {
    margin-bottom: .8rem;
}

.background-color {
    background-color: var(--background-color);
}

.font-weight {
    font-weight: 700;
}

/****** LAYOUT ******/

.main-container {
    width: 375px;
    margin-bottom: 4rem;
    /* border: 5px solid hotpink; */
}

.header-container {
    width: 375px;
    background-color: var(--background-color);
    padding: .5rem 1rem;
    border-bottom: 2px solid lightgray;

    display: flex;
    justify-content: space-between;
    align-items: center;
}
.poster-info-container, .footer-container{
    width: 100%;
}

.poster-info-container {
    padding: .625rem;
    
    display: flex;
    gap: .5rem
}

.icons-container {
    display: flex;
    gap: .8rem;
}

.footer-container {
    padding: 0 .625rem 1rem .625rem;
    margin-bottom: 1.5rem;
}

/******IMAGES STYLING ******/

.logo {
    width: 127px;
}

.avatar {
    width: 34px;
    height: 34px;
    border-radius: var(--br-round);
}

.post-image {
    width: 100%;
    margin-bottom: 1.25rem;
}

.icons {
    width: 25px;
    height: 25px;
}